* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: #dfd8f3;
  color: rgb(9, 7, 7);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  color: rgb(8, 8, 8);
  font-size: 16px;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #e34005;
}

.nav-links a.active {
  color: #ae5802;
  border-bottom: 2px solid #041013;
  padding-bottom: 3px;
}

.btn {
  background: #16a2be;
  color: black;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background: #cc5800;
}
