.app {
  text-align: center;
  margin-top: 40px;
  font-family: Arial;
}

input {
  padding: 8px;
  margin-right: 10px;
}

button {
  padding: 8px;
  cursor: pointer;
  margin: 5px;
}

/* CARD */
.card {
  margin: 20px auto;
  padding: 20px;
  width: 250px;
  border-radius: 10px;
  background: #f4f4f4;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* SKELETON */
.skeleton {
  animation: pulse 1.5s infinite;
}

.skeleton-img {
  width: 100px;
  height: 100px;
  background: #ccc;
  margin: auto;
  border-radius: 50%;
}

.skeleton-text {
  height: 15px;
  background: #ccc;
  margin: 10px 0;
}

@keyframes pulse {
  0% { opacity: 0.6; }
  50% { opacity: 1; }
  100% { opacity: 0.6; }
}

/* ERROR */
.error {
  background: #ffe5e5;
  color: red;
}

/* TYPES */
.types {
  margin-top: 10px;
  color: black;
}

.badge {
  padding: 5px 10px;
  margin: 5px;
  border-radius: 5px;
  color: white;
  display: inline-block;
}

/* TYPE COLORS */
.fire { background: orange; }
.water { background: blue; }
.grass { background: green; }
.electric { background: goldenrod; }

/* CHIPS */
.chips {
  margin: 10px;
}

.chip {
  background: #ddd;
  border: none;
  padding: 6px 10px;
  border-radius: 20px;
  cursor: pointer;
}