body {
  font-family: Arial;
  background: #f4f4f4;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.container {
  background: white;
  padding: 20px;
  width: 400px;
  border-radius: 10px;
}

.input-box {
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  padding: 10px;
}

button {
  padding: 8px 10px;
  cursor: pointer;
}

ul {
  margin-top: 20px;
  padding: 0;
}

li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  background: #eee;
  padding: 10px;
}

.completed {
  text-decoration: line-through;
  color: gray;
}

.filters {
  margin-top: 15px;
  display: flex;
  gap: 10px;
}

.active {
  background: blue;
  color: white;
}

.footer {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.error {
  color: red;
}